.inputContainer {
   display: flex;
   flex-direction: column;
   margin-bottom: 10px;
   width: 100%;
   max-width: 375px;

   &:last-child {
      margin-bottom: 0;
   }

   .label {
      margin-bottom: 5px;

      label {
         margin: 0;
         font-size: 14px;
         color: #000;
      }
   }

   .input {
      input {
         margin: 0;
         height: 38px;
         width: 100%;
         background: #e5e7eb;
         color: #000;
         border: 0;
         outline: none;
         border-radius: 8px;
         padding: 0 5px;
         font-size: 14px;

         &::placeholder {
            color: #000;
         }

         &:focus {
            border-bottom: 2px solid #4f46e5
         }
      }
   }

   &.error {
      .input {
         input {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border: 2px solid #ef4444;
         }

         &:focus {
            border-bottom: 2px solid #ef4444
         }
      }
   }

   .errorContainer {
      background-color: #ef4444;
      width: 100%;
      padding: 5px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;

      p {
         margin: 0;
         color: #fff;
      }
   }
};