.inputWrapper {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;

   .inputContainer {
      width: 100%;
      height: 100%;

      input {
         width: 100%;
         background: transparent;
         border: 0;
         height: 100%;
         color: #fff;
         font-size: 12px;
         padding: 5px 0;
         outline: none;

         &::placeholder {
            color: var(--gray-color-400);
         }
      }
   }

   .inputErrorContainer {
      width: 100%;
      opacity: 0;
      height: 0px;
      padding-top: 5px;

      &.hasError {
         opacity: 1;
         height: auto;
      }

      p {
         color: #f87171;
         font-size: 12px;
      }
   }
};