.rcapeto-component--BarPercentual-Container {
   position: fixed;
   background-color: var(--text);
   width: 100%;
   height: 5px;
   left: 0;
   top: 0;
};
.rcapeto-component--BarPercentual-Progress {
   background-color: var(--purple);
   height: 100%;
};