$max-items: 20;

.sectionContainer {
   position: relative;
   z-index: 1;
};

.isAnimated[data-magicscroll-animate] {
   animation: text-focus-in .4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.sectionContent {
   position: sticky;
   position: -webkit-sticky;
   width: 100%;
};

[data-magicscroll-section-size="sm"] {
   @for $i from 1 through $max-items {
      &:nth-of-type(#{$i}) {
         height: calc(100vh + 200px);
      }
   }
}

[data-magicscroll-section-size="md"] {
   @for $i from 1 through $max-items {
      &:nth-of-type(#{$i}) {
         height: calc(100vh + 600px);
      }
   }
}

[data-magicscroll-section-size="lg"] {
   @for $i from 1 through $max-items {
      &:nth-of-type(#{$i}) {
         height: calc(100vh + 1200px);
      }
   }
}

[data-magicscroll-section-size="xl"] {
   @for $i from 1 through $max-items {
      &:nth-of-type(#{$i}) {
         height: calc(100vh + 1800px);
      }
   }
}

[data-magicscroll-section-position="top"] {
   top: 0%;
};

[data-magicscroll-section-position="between-top-middle"] {
   top: 20%;
};

[data-magicscroll-section-position="middle"] {
   top: 45.5%;
};

[data-magicscroll-section-position="between-bottom-middle"] {
   top: 77.7%;
};

[data-magicscroll-section-position="bottom"] {
   top: 90%;
};

@keyframes text-focus-in {
   0% {
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
   }
   100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
   }
}