.rcapeto-component--magic-scroll-cb-content {
   position: sticky;
   position: -webkit-sticky;

   &.top {
      top: 0;
   }

   &.between-top-middle {
      top: 20%;
   }

   &.middle {
      top: 50%;
      transform: translateY(-50%);
   }

   &.bottom {
      top: 90%;
   }
}