:root {
   --white: #fff;
   --background: #f2f3f5;
   --gray-line: #dcdde0;
   --text: #666;
   --text-highlight: #b3b9ff;
   --title: #2e384d;
   --red: #e83f5b;
   --green: #4cd62b;
   --purple: #5965e0;
   --purple-dark: #4953b8;
   --twitter: #2aa9e0;
   --border-radius-1: 4px;
   --border-radius-2: 8px;
   --border-radius-3: 12px;
   --border-radius-4: 16px;
   --border-radius-5: 20px;
   --padding-1: 4px;
   --padding-2: 8px;
   --padding-3: 12px;
   --padding-4: 16px;
   --padding-5: 20px;
   --margin-1: 4px;
   --margin-2: 8px;
   --margin-3: 12px;
   --margin-4: 16px;
   --margin-5: 20px;
   --margin-6: 25px;
   --margin-7: 35px;
   --margin-8: 45px;
   --toast-warning: #fff2cd;
   --toast-info: #cfe1fe;
   --toast-success: #d1e6dd;
   --toast-error: #f8d7d9;
   --tooltip-bg-color: #3f3f40;

   // GRAY COLOR
   --gray-color-900: #121214;
   --gray-color-800: #202024;
   --gray-color-400: #7c7c8a;
   --gray-color-200: #c4c4cc;
   --gray-color-100: #e1e1e6;
}  

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Roboto', sans-serif;
}

#root {
   height: 100%;
   width: 100%;   
}

body, input, button, textarea {
   font-family: 'Roboto', sans-serif;
}

button {
   cursor: pointer;
}

a {
   text-decoration: none;
   color: inherit;
}

.container {
   max-width: 85%;
   margin: 20px auto;

   @media (max-width: 768px) {
      max-width: 95%;
   }
}

@media(max-width: 1080px) {
   html {
      font-size: 93.75%;
   }
}

@media(max-width: 720px) {
   html {
      font-size: 87.5%;
   }
}