.rcapeto-component--Modal-Close-Button {
   display: flex;
   align-items: center;
   justify-content: flex-end;

   button {
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      border: 0;
   }
};